	<div class="footer">
		<div class="socials">
			<ul>
				<li><a href="https://github.com/rimochiko" target="_blank"><img src="<%- config.root %>images/github.png" alt="cloudmusic"></a></li>
				<li><a href="http://weibo.com/rimochiko" target="_blank"><img src="<%- config.root %>images/weibo.png" alt="weibo"></a></li>
				<li><a href="http://music.163.com/#/user/home?id=82219531" target="_blank"><img src="<%- config.root %>images/cloud.png" alt="cloudmusic"></a></li>
			</ul>
		</div>
		<div class="copyright">
			<p class="p_copyright">MOCHIKO © 2018</p>
		</div>
	</div>
</body>
</html>