	<div class="footer">
		<div class="socials">
			<ul>
				<li><a href=""><img src="../source/images/weibo.png" alt="weibo"></a></li>
				<li><a href=""><img src="../source/images/wechat.png" alt="cloudmusic"></a></li>
				<li><a href=""><img src="../source/images/cloud.png" alt="cloudmusic"></a></li>
			</ul>
		</div>
		<div class="copyright">
			<p class="p_copyright">MOCHIKO © 2018</p>
		</div>
	</div>
</body>
</html>